<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/home']" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span class="nav-label">Home</span></a>
      </li>
      <li [routerLinkActive]="['active']">
        <a><span class="nav-label">Sect2: The Basics</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level" [routerLinkActive]="['in']">
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/section2/exercise1']" title="Exercise: Practicing Components">Ex1: Components</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
