//Sidebar width
$sidebar-width: 220px;

// Main colors
$skin-nav-bg: #3e495f;
$nav-bg: #2F4050;
$nav-text-color: #a7b1c2;
$skin-a-color: #9ea6b9;

// Basic colors
$navy: #1ab394;       // Primary color

.navbar-static-side {
  z-index: 2001;
  position: absolute;
  width: $sidebar-width;
}

.nav > li.active {
  border-left: 4px solid darken($navy, 2%);
  background: darken($nav-bg, 3%);
}

.nav.nav-second-level > li.active {
  border: none;
}

.nav.nav-second-level.collapse[style] {
  height: auto !important;
}

.nav > li > a {
  /*color: $skin-a-color;*/
  color: $nav-text-color;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav > li.active > a {
  color: #ffffff;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: darken($nav-bg, 3%);
  color: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #fff;
}

.nav > li > a i {
  margin-right: 6px;
}

.navbar-default {
  background-color: transparent;
  border-color: $nav-bg;
}


.arrow {
  float: right;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}


.nav-second-level li{
  border-bottom: none !important;
}

.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}

.nav-second-level li:last-child {
  margin-bottom: 10px;
}
