/* You can add global styles to this file, and also import other style files */
$header-height: 50px;
$footer-height: 60px;
$text-color: #676a6c;   // Body text

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: $text-color;
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top by header height */
  padding-top: $header-height;
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

html, body {
  height: 100%;
}
