$footer-height: 60px;
$border-color: #e7eaec;     // IBox border

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: $footer-height;*/
  background-color: #f5f5f5;
}



.no-footer {

  background: none repeat scroll 0 0 white;
  border-top: 1px solid $border-color;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
