<div class="row">
  <div class="col-xs-12">
    <div class="footer">
      <hr/>
      <div class="pull-right">
        training session
      </div>
      <div>
        <strong>Copyright</strong> AlainD. &copy; 2017
      </div>
    </div>
  </div>
</div>
