<app-header></app-header>
<div id="wrapper">
  <app-navigation></app-navigation>
  <div id="page-wrapper" class="gray-bg">
    <router-outlet></router-outlet>
    <app-footer [hidden]="true"></app-footer>
  </div>
</div>
