
$gray: #f3f3f4;         // Background wrapper color

#page-wrapper {
  min-height: 100vh;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

#page-wrapper {
  padding: 0 15px;
  //min-height: 568px;
  position: relative !important;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    //min-height: 2002px;
  }
}

.gray-bg, .bg-muted {
  background-color: $gray;
}
