<h4>
  ngx-charts Vertical Bar Chart Example
</h4>
<ngx-charts-bar-vertical *ngIf="single$ | async; let singleData; else loading;"
  [view]="view"
  [scheme]="colorScheme"
  [results]="singleData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>

<ng-template #loading><i class="fa fa-spinner fa-spin text-danger"></i> loading chart...</ng-template>
