<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <a class="navbar-brand">Angular - The Complete Guide</a>
  </div>
</nav>
